@import "../theme";

.home {
  &.container {
    margin-top: 20px;
    max-height: 100%;
    max-width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
  &.form {
    min-height: fit-content;
    display: block;
    flex-direction: column;
    justify-content: center;
    min-width: 40vw;
    font-size: 16px;
    font-weight: 300;
    padding: 1em;
    border-radius: 0.75em;
    background-color: var(--background);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: var(--dropShadow);
    position: relative;
  }
  &.logo_large {
    user-select: none;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    justify-content: center;
    width: 20em;
  }
  
  .logo_small{
    max-width: 100%;
  }
  .logo_small:hover {
    transform: translateY(-2px);
  }
  .button_small.left{
    max-width: 4em;
    max-height: 4em;
    width: 20%;
    user-select: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    justify-self: end;
    padding: 0;
    margin:0;
    position: absolute;
    display: inline-block;
    left: 0.5em;
  }
  .logo_small_middle {
    user-select: none;
    margin: auto;
    margin-bottom: 2em;
    display: block;
    justify-content: center;
    max-width: 10em;
    width: 50%;
  }
  .button_small.right{
    max-width: 4em;
    max-height: 4em;
    width: 20%;
    user-select: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    justify-self: end;
    padding: 0;
    margin:0;
    position: absolute;
    display: inline-block;
    right: 0.5em;
    top:1em;
  }
  &.field {
    display: flex;
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0em;
  }
  &.input {
    height: 3.5em;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: var(--normalTextColor);
  }
  &.input::placeholder {
    color: var(--accent);
  }
  &.label {
    color: var(--buttonTextColor);
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .error {
    text-align: center;
    color: red;
    font-size: large;
  }

  
}