@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-width: 60em;
    max-width: 80%;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: var(--background);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: var(--dropShadow);
    position: relative;
  }
  
  .logo_small.left {
    width: 4.5em;
    user-select: none;
    justify-self: end;
    position: absolute;
    top: 2em;
    left: 5%;
  }
  .logo_small.left:hover {
    transform: translateY(-2px);
  }
  .logo_small.middle {
    user-select: none;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    display: block;
    justify-content: center;
    width: 10em;
  }
  .logo_small.right {
    width: 4.5em;
    user-select: none;
    justify-self: end;
    position: absolute;
    top: 2em;
    right: 5%;
  }
  .logo_small.right:hover {
    transform: translateY(-2px);
  }

  .title {
    font-size: 4em;
    font-weight: 900;
    margin-top: 0em;
    margin-bottom: 0.5em;
  }

  .infoContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -1em;
    margin-bottom: 4em;
    margin-left: -1em;
    width: 20em;
  }

  .infoLobbyCode{
    margin-bottom: 14em;
    font-weight: bolder;
  }
  .infoContent {
    text-align: right;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust this value to your liking */
    margin-bottom: 2em;
  }
  .button{
    width: 10em;
  }
  .users {
    margin-bottom: 2em;
  }
  span {
    padding: 0.5em; 
    border: 0.5px solid var(--accent);
    background-color: var(--accent);
    color: var(--buttonTextColor);
    border-radius: 10em;
    margin: 0.1em;
  }
}